header {
    background-image: url('/images/pexels-andrea-davis-5417226.jpg');
    background-size: cover;

    height: 50vh;
    

    h2 {
        color: white;
        font-size: 3rem;
        padding: 10%;
    }
}