main{


    h1, h2, h3 {
        
        font-family: playfair-display, serif;
        font-weight: 900;
        font-style: italic;
    }

    p {
        font-family: playfair-display, serif;
        font-weight: 400;
        font-style: normal;
    }

.hidden { display: none; }

}
